@import 'swiper/css';
@import 'swiper/css/pagination';
@import './marquee.css';
@import './sliderImage.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bs-color-green: rgb(99, 217, 182);
  --bs-color-blue: rgb(36, 112, 169);
  --bs-color-gray: rgb(245, 245, 245);
  --bs-color-text: rgb(33, 37, 41);
}

* {
  -webkit-tap-highlight-color: transparent;
}

@layer base {
  img {
    max-width: initial;
  }

  a {
    @apply decoration-1;
  }
}

@layer components {
  .back-to-top {
    position: fixed;
    right: 1vw;
    bottom: 15px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding: 0;
    color: #fff;
    border: none;
    background-color: var(--bs-color-blue);
    box-shadow:
      rgba(0, 0, 0, 0.1) 0px 1px 4px,
      rgba(0, 0, 0, 0.2) 0px 2px 12px;
    z-index: 300;
    svg {
      width: 30px;
      height: 30px;
    }
  }

  .bs-container {
    @apply container mx-auto px-[15px];
  }

  .ul-disk ul {
    @apply list-disc pl-6;
  }

  .ol-decimal ol {
    @apply list-decimal pl-6;
  }

  .slider-with-image-shadow {
    box-shadow: 0 3px 35px rgb(0 0 0 / 0.2);
  }

  .slider-shadow {
    box-shadow: 0 0 15px rgb(0 0 0 / 0.6);
  }

  .navigation-card-shadow {
    box-shadow: 0 0 5px rgb(0 0 0 / 0.2);
  }

  .blog p {
    @apply pb-4;
  }

  .bs-link-blue {
    @apply text-bs-blue hover:underline hover:decoration-bs-blue hover:decoration-solid;
  }

  .legal a {
    @apply text-bs-blue hover:underline hover:decoration-bs-blue hover:decoration-solid;
  }

  .privacy a {
    @apply text-bs-blue hover:underline hover:decoration-bs-blue hover:decoration-solid;
  }
}
